html {
  background-color: #ccc;
}
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

#wrap {
  width: 70%;
  margin: 0 auto;
}

header {
  width: 100%
  color: white;
}

.headerimg {
  width: 100%;
}


nav {
  background-color: #0ec9c7;
  padding: 20px;
  text-align: center;
}

nav li {
  display: inline;
}

nav ul {
  margin: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

nav a:hover{
  background-color: white;
  color: #0ec9c7;
}

h1 {
  margin: 15%, 0;
  font-size: 185%;
}

section {
  background-color: #ec3632;
  overflow: auto;
}

aside {
  width: 20%;
  float: left;
  /* padding: 4%;*/
}

aside li {
  list-style-type: none;
  margin: 10px 0;

}

aside ul {
  margin: 0;
  padding: 0;
}

aside a {
  padding: 5px 0 5px 30px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: white;
}

aside a:hover {
  background-color: white;
  color: #ec3632;
}

article {
  width: 70%;
  background-color: white;
  float: right;
  padding: 0 4% 2% 4%;
}
.buycupcakes {
  width: 50%;
  float: right;
  margin: 0 0 20px 20px;
}

footer li {
  display: inline;
}

footer ul {
  margin: 0;
  text-align: center;
  font-size: 70%;
}


footer {
  background-color: #0ec9c7;
  padding: 20px;
}

footer p {
  font-weight: bold;
  text-align: center;
  font-size: 70%;
}

.bird {
  width: 30%;
  float: right;
  margin: 0 0 20px 20px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: beige;
  }

#wrap {
  width: 100%;
}

  nav {
    padding: 0;
  }
  nav a {
    display: block;
    width: 100%;
    padding: 20px 0;
  }

  nav li, nav ul {
    margin: 0;
    padding: 0;
  }

  aside, article {
    width: 92%;
    float:none;
  }

  article {
    padding-top: 20px;
  }

  aside li {
    text-align: center;
  }

  .buycupcakes {
    width: 100%;
    margin: 0;
    float: none;
  }
}
