body {
  background-color: #7a875f;
  margin: 0;
  padding: 0;
  font-family: verdana, sans-serif;
}

#wrap {
  width:70%;
  margin: 0 auto;
  background-color: white;
}

header img {
  width: 80%;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #fffff5;
}

nav {
  background-color: #e7634e;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  font-size: 150%;
  padding: 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #fffff5;
  color: #e7634e;
}

nav li {
  display: inline;

}

nav ul {
  margin: 0;
  padding: 0;
}

p img {
  margin: 30px;
}

section {
  padding: 40px;
  overflow: auto;
}

.pod {
  width: 30%;
  float: right;
  margin-top: -60px;
}

.button {
  background-color: #726967;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  display: inline-block;

}

footer {
  background-color: #e7634e;
  color: white;
  text-align: center;
  padding: 15px;
}
